<div class="contacts-container">
  <div>
    <p>м. Івано-Франківськ, <br>
      вул. Січових Стрільців 15.</p>
  </div>
  <div>
    <p>Пишіть нам:</p>
     <p>Консоль БК: <a href="mailto:consolebc@gmail.com">consolebc@gmail.com</a></p>
     <p>Менеджер: <a href="mailto:consolegroupif@gmail.com">consolegroupif@gmail.com</a></p>
     <p>Дизайн: <a href="mailto:consoledesignif@gmail.com">consoledesignif@gmail.com</a></p>

  </div>
  <div>
    <p>Телефони:</p>
    <p>Менеджер: <a href="tel:+380679050700">+380679050700</a></p>
    <p>Дизайн студія: <a href="tel:+380679050600">+380679050600</a></p>
    <p>Консоль БК: <a href="tel:+380679050800">+380679050800</a></p>
  </div>

  <div class="social">
    <a href="">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com/consoldes/">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="">
      <i class="fab fa-instagram design-instagram"></i>
    </a>
  </div>
</div>
