<div class="about">
  <img src="assets/images/3.jpg" alt="" class="about-image">
  <article class="about-text">
    <h2>ПРО НАС</h2>
    <p>
      Компанія яка здійснює весь цикл реконструкції і будівництва малоповерхових споруд
      житлового, комерційного та промислового призначення. Розробка дизайн проекту, нагляд
      , комплексне виконання будівельних робіт.
    </p>
    <p class="soc">
      Наші соц-мережі:
      <a href="http://"><i class="fab fa-facebook-f"></i></a>
      <a href="http://"><i class="fab fa-instagram"></i></a>
      <a href="http://"><i class="fab fa-instagram design-instagram"></i></a>
    </p>
  </article>
</div>
