<div class="main-page-block">
  <img src="/assets/images/5.jpg" alt="" />
  <div class="secondary-page-info">
    <h1>Піскоструменева очистка приміщень</h1>
    <p>Компанія ТОВ "Консоль БК" виконує піскоструменеву очистку приміщень різного призначення: промислові залізобетонні
      конструкції, очистка цегляних поверхонь після реконструкції, очистка дерев'яних фасадів з формуванням текстури
      дерева. <br>
      Забезпечує повний цикл даних операцій.</p>
    <p>
      80 грн - від 5000 м.кв. <br>
      100 грн від - 1000 м.кв. <br>
      До 1000 м. кв ціна договірна.
    </p>
  </div>
</div>
<app-contacts></app-contacts>
