<div class="main-page-block">
  <div class="images"  >
    <img src="/assets/images/des/1.jpg" lightbox />
    <img src="/assets/images/des/2.jpg" lightbox />
    <img src="/assets/images/des/3.jpg" lightbox />
    <img src="/assets/images/des/4.jpg" lightbox />
    <img src="/assets/images/des/5.jpg" lightbox />
    <img src="/assets/images/des/6.jpg" lightbox />
    <img src="/assets/images/des/7.jpg" lightbox />
    <img src="/assets/images/des/8.jpg" lightbox />
    <img src="/assets/images/des/9.jpg" lightbox />
    <img src="/assets/images/des/10.jpg" lightbox />
  </div>
  <div class="secondary-page-info">
      <h1>Дизайн</h1>
      <p>
        - Дизайн проект на руки 20$ м.кв.; <br>
        - Дизайн проект + супровід дизайнера 25$ м.кв.;<br>
        - Дизайн проект + супровід дизайнера<br>
        + виконання ремонтних робіт:<br>
        - Косметичний від 1600грн. м.кв.;<br>
        - Стандартний від 3400грн. м.кв.;<br>
        - Преміум від 5200грн. м.кв.;<br>
        - Люкс від 8000грн. м.кв.;<br>
        - Супровід ремонтних робіт 8% від суми кошторису;<br>
      </p>
  </div>
</div>
<app-contacts></app-contacts>