@import "src/assets/_colors.scss";


.main-page-block {
  width: inherit;
  display: flex;
  padding: 5%;
  >img {
    width: 50%;
    max-height: 500px;
  }
}
.images {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  img {
    height: 140px;
    margin: 10px;
  }
}
.secondary-page-info {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  >h1 {
    padding: 10px 0px;
  }
}
@media screen and (max-width: 800px){
  .main-page-block {
    flex-direction: column;
    justify-content: flex-end;
    height: unset;
    >img {
      margin: auto;
      width: 90%;
      height: unset;
    }
  }
  .images {
    justify-content: space-evenly;
    width: 100%;
    img {
      height: initial;
      width: 40%;
    }
  }
}
@media screen and (max-width: 400px){
  .main-page-block {
    flex-direction: column-reverse;
  }
  .images {
    img {
      max-height: 270px;
      width: 100%;
    }
  }
}
