<div class="main-page-block">
    <img src="/assets/images/4.jpg" alt="" />
    <div class="secondary-page-info">
        <h1>Реконструкція</h1>
        <p>ТОВ "Консоль БК" здійснює комплексне виконання робіт по реконструкції.</p>
        <p>- Демонтажні роботи;<br> - Піскоструєння промислових залізобетонних площ;<br> - Всі види внутрішніх робіт, оздоблення інтер'єру;<br> - Гіпсокартонні роботи;<br> - Монтаж підлоги(плитка, паркет, паркетна дошка, ламінат, ковролін, вініл);<br> -
            Малярні роботи(штукатурення, шпаклювання та пофарбування стін та стель);<br> - Всі види оздоблення екстер'єру`;</p>
    </div>
</div>
<app-contacts></app-contacts>